.button{
    padding:1rem;
    border:.1rem #808080 solid;
    cursor: pointer;
    border-radius: .5rem;
    transition: background-color .5s, color 2s;
}
.button:hover{
    border:.1rem #404040 solid;
    background-color: black;
    color:white;
}

.cart{
    display:flex;
    flex-wrap: wrap;
    margin:1rem;
    align-items: flex-start;
}
.cart-list{
    flex:3 1 60rem;
}
.cart-action{
    flex: 1 1 20rem;
    background-color: #f8f8f8;
    border-radius:5rem;
    padding: 1rem;
}
.cart-list-container{
    padding: 0;
    list-style-type:none;
    padding: 1rem;
}
.cart-list-container li:first-child{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cart-list-container img{
width: 100px;
height: auto;
}